In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./Invitation Addresses - RSVPs.csv')

In [3]:
df = df.dropna(how='all').reset_index()

In [4]:
df.shape

(174, 14)

In [5]:
df.head()

,index,Table,Last Name,First Name,Title,Beef,Chicken,Vegetarian,Special Meal,Chicken Fingers,Under 21/Vendor Meal,Unnamed: 10,Total Attending,174
0,0,12,Ahmed,Aneela,Ms.,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,8,Bailey,Jody,Mrs.,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,8,Bailey,Budd,Mr.,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,12,Bari,Omar,Dr.,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,8,Bateman,HM,Ms.,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
def get_meal(row):
    meal = (row[['Beef','Chicken','Vegetarian','Chicken Fingers']]
            .dropna()
            .index[0])
    
    if meal == 'Chicken Fingers':
        return 'Chicken Fingers / Under 21'
    else:
        return meal

In [8]:
from jinja2 import Environment, FileSystemLoader
import os
THIS_DIR = os.path.dirname(os.path.abspath("template.html"))

j2_env = Environment(loader=FileSystemLoader(THIS_DIR),
                         trim_blocks=True)

In [9]:
template = j2_env.get_template('template.html')

In [10]:
pages = []
cur_page = []
for idx, row in df.iterrows():
    
    if idx % 4 == 0 and idx != 0:
        pages.append(cur_page)
        cur_page = []
    
    if row['Table'] == 'Sweetheart':
        table='Sweetheart Table'
    elif row['Table'] == 'Vendor':
        table='Vendor Table'
    else:
        table='Table ' + str(row['Table'])
    
    meal = get_meal(row)
    
    cur_page.append([' '.join([row['First Name'], '<br/>', row['Last Name']]),table, meal])
    
    
    if idx == len(df) - 1:
        pages.append(cur_page)

In [11]:
pages

[[['Aneela <br/> Ahmed', 'Table 12', 'Beef'],
  ['Jody <br/> Bailey', 'Table 8', 'Beef'],
  ['Budd <br/> Bailey', 'Table 8', 'Beef'],
  ['Omar <br/> Bari', 'Table 12', 'Beef']],
 [['HM <br/> Bateman', 'Table 8', 'Chicken'],
  ['Olivia <br/> Bobrowsky', 'Table 11', 'Beef'],
  ['Maryann <br/> Bochenek', 'Table 17', 'Beef'],
  ['Camille <br/> Brandon', 'Table 3', 'Chicken']],
 [['Robert <br/> Brandon', 'Table 3', 'Beef'],
  ['Peter <br/> Brunner', 'Table 2', 'Chicken'],
  ['Carol <br/> Bubar', 'Table 18', 'Beef'],
  ['David <br/> Bubar', 'Table 18', 'Chicken']],
 [['Elizabeth <br/> Buckley', 'Table 8', 'Beef'],
  ['Martin <br/> Burke', 'Table 14', 'Beef'],
  ['Timothy <br/> Cashmore', 'Table 8', 'Beef'],
  ['Patricia <br/> Catanzaro', 'Table 7', 'Chicken']],
 [['Joseph <br/> Catanzaro', 'Table 7', 'Beef'],
  ['Joey <br/> Catanzaro', 'Table 10', 'Beef'],
  ['Judith <br/> Chaifetz', 'Table 9', 'Beef'],
  ['Malcolm <br/> Chaifetz', 'Table 9', 'Beef']],
 [['Phoebe Li <br/> Chen', 'Table 15', 'Beef'],
  ['Alex <br/> Constandache', 'Table 12', 'Beef'],
  ['Kevin <br/> Corbett', 'Table 4', 'Beef'],
  ['Hannah <br/> Crean', 'Table 10', 'Beef']],
 [['Kathleen <br/> Darcy', 'Table 8', 'Chicken'],
  ['Kimberly <br/> Derbesy', 'Table 13', 'Vegetarian'],
  ['Thomas <br/> Derbesy', 'Table 13', 'Chicken'],
  ['Erik <br/> Dickerson', 'Table 6', 'Beef']],
 [['Tsana <br/> Dimanin', 'Table 12', 'Vegetarian'],
  ['Carol <br/> DiPrinzio', 'Table 14', 'Vegetarian'],
  ['Paul <br/> Edwards', 'Table 13', 'Beef'],
  ['Sarah <br/> El', 'Table 16', 'Chicken']],
 [['Erin <br/> Faunce', 'Table 17', 'Beef'],
  ['Michael <br/> Feigin', 'Table 6', 'Beef'],
  ['Emma <br/> Feigin', 'Table 6', 'Chicken Fingers / Under 21'],
  ['Nancy <br/> Feigin', 'Table 4', 'Beef']],
 [['William <br/> Feigin', 'Table 4', 'Beef'],
  ['Casey <br/> Fenwick', 'Table 12', 'Chicken'],
  ['Lynn <br/> Ferraro', 'Table 3', 'Vegetarian'],
  ['Vincent <br/> Ferraro', 'Table 3', 'Chicken']],
 [['Nikola <br/> Finneran', 'Table 12', 'Beef'],
  ['Jordan <br/> Fischer', 'Table 14', 'Beef'],
  ['Carol <br/> Franczyk', 'Table 17', 'Vegetarian'],
  ['Elizabeth <br/> Gale-Bentz', 'Table 14', 'Beef']],
 [['Christine <br/> Gallagher', 'Table 3', 'Beef'],
  ['Raymond <br/> Gallagher', 'Table 3', 'Beef'],
  ['Jamie <br/> Gallagher', 'Table 3', 'Beef'],
  ['Timothy <br/> Gallagher', 'Table 3', 'Beef']],
 [['Mary <br/> Galletta', 'Table 18', 'Chicken'],
  ['Joseph <br/> Galletta', 'Table 18', 'Beef'],
  ['Meghann <br/> Galloway', 'Table 14', 'Beef'],
  ['Corey <br/> Galloway', 'Table 14', 'Beef']],
 [['Barbara <br/> Ganis', 'Table 8', 'Beef'],
  ['Dipankar <br/> Gogoi', 'Table 12', 'Beef'],
  ['Mary Jo <br/> Gorski', 'Table 3', 'Beef'],
  ['Dennis <br/> Gorski', 'Table 3', 'Chicken']],
 [['Kelli <br/> Greenberg', 'Table 11', 'Beef'],
  ["Caitlin's <br/> Guest", 'Table 6', 'Chicken'],
  ['Della <br/> Harris', 'Table 17', 'Vegetarian'],
  ['Kim <br/> Hild', 'Table 4', 'Beef']],
 [['Raymond <br/> Hild', 'Table 4', 'Beef'],
  ['Yigal <br/> Hochberg', 'Table 16', 'Chicken'],
  ['Daniel <br/> Hochberg', 'Table 16', 'Chicken'],
  ['Heidi <br/> Hockberger', 'Table 11', 'Vegetarian']],
 [['Barbara <br/> Howe', 'Table 2', 'Vegetarian'],
  ['Vanessa <br/> Huerta Granda', 'Table 11', 'Beef'],
  ['Kathy <br/> Kane', 'Table 2', 'Chicken'],
  ['Daniel <br/> Kane', 'Table 2', 'Beef']],
 [['Natan <br/> Katz', 'Table 16', 'Beef'],
  ['Katie <br/> Kennedy', 'Table 1', 'Beef'],
  ['Timothy <br/> Kennedy', 'Table 1', 'Beef'],
  ['Jason <br/> Koski', 'Table 15', 'Beef']],
 [['David <br/> Kralle', 'Table 13', 'Beef'],
  ['Meredith <br/> Krapek', 'Table 11', 'Vegetarian'],
  ['Marguerie <br/> Laks', 'Table 7', 'Beef'],
  ['Kelly <br/> Lauersen', 'Table 13', 'Beef']],
 [['Mei Yan <br/> Lee', 'Table 15', 'Beef'],
  ['Natalie <br/> LeVan', 'Table 18', 'Beef'],
  ['Mark <br/> LeVan', 'Table 18', 'Beef'],
  ['Barbara <br/> Levy', 'Table 9', 'Beef']],
 [['Stuart <br/> Levy', 'Table 9', 'Vegetarian'],
  ['Stephanie <br/> Loranty', 'Table 17', 'Vegetarian'],
  ['Ronald <br/> Loranty', 'Table 17', 'Beef'],
  ['Debbie <br/> Lorigo', 'Table 1', 'Chicken']],
 [['Ralph <br/> Lorigo', 'Table 1', 'Beef'],
  ['Ryan <br/> Ludwig', 'Table 6', 'Beef'],
  ['Sue Luzi- <br/> Montazzoli', 'Table 17', 'Chicken'],
  ['Colleen <br/> Makowski', 'Table 2', 'Chicken']],
 [['Joseph <br/> Makowski', 'Table 2', 'Beef'],
  ['Omri <br/> Mandel', 'Table 16', 'Beef'],
  ['Neera <br/> Manning', 'Table 1', 'Vegetarian'],
  ['Kenneth <br/> Manning', 'Table 1', 'Chicken']],
 [['Gal <br/> Manoach', 'Table 16', 'Beef'],
  ['Jeff <br/> McDaniel', 'Table 15', 'Chicken'],
  ['Maureen <br/> McKeone', 'Table 8', 'Vegetarian'],
  ['John <br/> McKeone', 'Table 8', 'Beef']],
 [['Camilla <br/> McKlevis', 'Table 17', 'Beef'],
  ['Ian <br/> McMahon', 'Table 15', 'Vegetarian'],
  ['Janet <br/> Meiselman', 'Table 8', 'Vegetarian'],
  ['Deborah <br/> Merrifield', 'Table 8', 'Chicken']],
 [['Renee <br/> Metro', 'Table 17', 'Vegetarian'],
  ['Adam <br/> Murphy', 'Table 13', 'Chicken'],
  ['Melissa <br/> Myint', 'Table 15', 'Chicken'],
  ['Amanda <br/> NeMoyer', 'Sweetheart Table', 'Chicken']],
 [['Caitlin <br/> NeMoyer', 'Table 6', 'Vegetarian'],
  ['Erin <br/> NeMoyer', 'Table 6', 'Beef'],
  ['Rachel <br/> NeMoyer', 'Table 6', 'Beef'],
  ['Elyse <br/> NeMoyer', 'Table 9', 'Beef']],
 [['Patrick <br/> NeMoyer', 'Table 9', 'Beef'],
  ['Josephine <br/> NeMoyer', 'Table 7', 'Vegetarian'],
  ['Daniel <br/> NeMoyer', 'Table 7', 'Beef'],
  ['Thomas <br/> NeMoyer', 'Table 10', 'Beef']],
 [['Judith <br/> NeMoyer', 'Table 7', 'Vegetarian'],
  ['Matthew <br/> NeMoyer', 'Table 10', 'Chicken'],
  ['Peter <br/> NeMoyer', 'Table 10', 'Beef'],
  ['Amy <br/> NeMoyer', 'Table 7', 'Chicken']],
 [['Michael <br/> NeMoyer', 'Table 7', 'Beef'],
  ['Dave <br/> Newey', 'Table 12', 'Beef'],
  ["Marina <br/> O'Donnell", 'Table 4', 'Beef'],
  ["Jack <br/> O'Donnell", 'Table 4', 'Beef']],
 [["Denise <br/> O'Donnell", 'Table 4', 'Beef'],
  ["John <br/> O'Donnell", 'Table 4', 'Beef'],
  ["Maura <br/> O'Donnell", 'Table 4', 'Beef'],
  ['Taky <br/> Ono', 'Table 11', 'Beef']],
 [['Rachel <br/> Ono', 'Table 11', 'Vegetarian'],
  ['Maureen <br/> Pace', 'Table 2', 'Chicken'],
  ['Edward <br/> Pace', 'Table 2', 'Beef'],
  ['G. Steven <br/> Pigeon', 'Table 3', 'Beef']],
 [['Helene <br/> Raichilson', 'Table 17', 'Beef'],
  ['Kiely <br/> Rassow', 'Table 10', 'Beef'],
  ['Erich <br/> Rassow', 'Table 10', 'Beef'],
  ['Mylene <br/> Ratelle', 'Table 15', 'Vegetarian']],
 [['David <br/> Reed', 'Table 12', 'Chicken'],
  ['Susan <br/> Robinson', 'Table 17', 'Chicken'],
  ['April <br/> Rockwood', 'Table 18', 'Chicken'],
  ['Robert <br/> Rockwood', 'Table 18', 'Chicken']],
 [['Aleta <br/> Rogers', 'Table 13', 'Beef'],
  ['Kristin <br/> Rose', 'Table 14', 'Beef'],
  ['Raymond <br/> Rose', 'Table 14', 'Beef'],
  ['Noam <br/> Roth', 'Table 16', 'Chicken']],
 [['Holly <br/> Sansom', 'Table 12', 'Vegetarian'],
  ['Paul <br/> Schrodt', 'Table 11', 'Chicken'],
  ['Charles (Jake) <br/> Scheckler', 'Table 13', 'Beef'],
  ['Nancy <br/> Schwendler', 'Table 3', 'Beef']],
 [['Amit <br/> Shavit', 'Sweetheart Table', 'Beef'],
  ['Orit <br/> Shavit', 'Table 9', 'Vegetarian'],
  ['Noam <br/> Shavit', 'Table 9', 'Beef'],
  ['Moshe <br/> Shavit', 'Table 9', 'Beef']],
 [['Beata <br/> Shuster', 'Table 12', 'Vegetarian'],
  ['Whitley <br/> Silva', 'Table 15', 'Beef'],
  ['Cory <br/> Silva', 'Table 15', 'Beef'],
  ['Stephanie <br/> Singer', 'Table 14', 'Chicken']],
 [['Anisha <br/> Sinha', 'Table 13', 'Vegetarian'],
  ['Adela <br/> Szanto', 'Table 9', 'Beef'],
  ['Siobhan <br/> Toolan', 'Table 10', 'Beef'],
  ['Colin <br/> Toolan', 'Table 10', 'Beef']],
 [['Richard <br/> Tourdot', 'Table 15', 'Beef'],
  ['Shirley <br/> Troutman', 'Table 1', 'Beef'],
  ['Kenneth J. <br/> Turner', 'Table 1', 'Beef'],
  ['Liana <br/> Vaccari', 'Table 15', 'Beef']],
 [['Kristin <br/> Vilt', 'Table 11', 'Chicken'],
  ['Mary Lou <br/> Voytovich', 'Table 2', 'Beef'],
  ['Paul <br/> Voytovich', 'Table 2', 'Beef'],
  ['Catherine <br/> Voytovich', 'Table 6', 'Chicken']],
 [['Mark <br/> Walker', 'Table 15', 'Beef'],
  ['Haley <br/> Welch', 'Table 13', 'Chicken'],
  ['Nora <br/> Whalen', 'Table 1', 'Beef'],
  ['Gerald <br/> Whalen', 'Table 1', 'Beef']],
 [['Jennifer <br/> Wieroney', 'Table 13', 'Vegetarian'],
  ['Stephen <br/> Wieroney', 'Table 13', 'Beef'],
  ['Elaine <br/> Williams', 'Table 11', 'Beef'],
  ['Terria <br/> Witherspoon', 'Table 17', 'Beef']],
 [['Samuel <br/> Witherspoon', 'Table 17', 'Chicken'],
  ['Tom <br/> Zaiderman', 'Table 16', 'Chicken']]]

In [28]:
%%time
def get_fields(page):
    name_1, table_1, name_2, table_2, name_3, table_3, name_4, table_4, meal_1, meal_2, meal_3, meal_4 = '', '', '', '', '', '', '', '', '', '', '', ''
    
    try:
        name_1, table_1, meal_1 = page[0][0], page[0][1], page[0][2]
    except:
        pass
    
    try:
        name_2, table_2, meal_2 = page[1][0], page[1][1], page[1][2]
    except: 
        pass
    
    try:
        name_3, table_3, meal_3 = page[2][0], page[2][1], page[2][2]
    except:
        pass
    
    try:
        name_4, table_4, meal_4 = page[3][0], page[3][1], page[3][2]
    except:
        pass
    
    return (name_1, table_1, meal_1, 
            name_2, table_2, meal_2,
            name_3, table_3, meal_3,
            name_4, table_4, meal_4)
    
for idx, page in enumerate(pages):
    (name_1, table_1, meal_1, 
            name_2, table_2, meal_2,
            name_3, table_3, meal_3,
            name_4, table_4, meal_4) = get_fields(page)
    
    html = template.render(
       name_1=name_1, 
        table_1=table_1, 
        name_2=name_2, 
        table_2=table_2, 
        name_3=name_3, 
        table_3=table_3, 
        name_4=name_4, 
        table_4=table_4,
        meal_1=meal_1,
        meal_2=meal_2,
        meal_3=meal_3,
        meal_4=meal_4
    )
    
    with open('./test-{}.html'.format(idx),'w') as otp:
        otp.writelines(html)
    
    print('Creating PDF... {} of {}'.format(idx+1, len(pages)))
    os.system('electron-pdf test-{:02d}.html test-{:02d}.pdf'.format(idx,idx))
    
#     if idx > 2: break
    
os.system('gs -q -dNOPAUSE -dBATCH -sDEVICE=pdfwrite -sOutputFile=merged.pdf test-*.pdf')
os.system('mv test-* unused/')

Creating PDF... 1 of 44
Creating PDF... 2 of 44
Creating PDF... 3 of 44
Creating PDF... 4 of 44
Creating PDF... 5 of 44
Creating PDF... 6 of 44
Creating PDF... 7 of 44
Creating PDF... 8 of 44
Creating PDF... 9 of 44
Creating PDF... 10 of 44
Creating PDF... 11 of 44
Creating PDF... 12 of 44
Creating PDF... 13 of 44
Creating PDF... 14 of 44
Creating PDF... 15 of 44
Creating PDF... 16 of 44
Creating PDF... 17 of 44
Creating PDF... 18 of 44
Creating PDF... 19 of 44
Creating PDF... 20 of 44
Creating PDF... 21 of 44
Creating PDF... 22 of 44
Creating PDF... 23 of 44
Creating PDF... 24 of 44
Creating PDF... 25 of 44
Creating PDF... 26 of 44
Creating PDF... 27 of 44
Creating PDF... 28 of 44
Creating PDF... 29 of 44
Creating PDF... 30 of 44
Creating PDF... 31 of 44
Creating PDF... 32 of 44
Creating PDF... 33 of 44
Creating PDF... 34 of 44
Creating PDF... 35 of 44
Creating PDF... 36 of 44
Creating PDF... 37 of 44
Creating PDF... 38 of 44
Creating PDF... 39 of 44
Creating PDF... 40 of 44
Creating PDF... 41 of 44
Creating PDF... 42 of 44
Creating PDF... 43 of 44
Creating PDF... 44 of 44
CPU times: user 83.7 ms, sys: 37.9 ms, total: 122 ms
Wall time: 41 s

In [22]:
# template.render(name_1="Amit Shavit", name_2="Amanda NeMoyer", table_1=5, table_2=10)