In [23]:
import pandas as pd

In [24]:
df = pd.read_csv('./Invitation Addresses - RSVPs.csv')

In [25]:
df = df.dropna(how='all') #.reset_index()

In [26]:
df.shape

(178, 13)

In [27]:
df.head()

,Table,Last Name,First Name,Title,Beef,Chicken,Vegetarian,Special Meal,Chicken Fingers,Under 21/Vendor Meal,Unnamed: 10,Total Attending,178
0,6,Ahmed,Aneela,Ms.,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Bailey,Jody,Mrs.,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Bailey,Budd,Mr.,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,Bari,Omar,Dr.,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2,Bateman,HM,Ms.,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
def get_meal(row):
    meal = (row[['Beef','Chicken','Vegetarian','Chicken Fingers','Special Meal']]
            .dropna()
            .index[0])
    
    if meal == 'Chicken Fingers':
        return 'Chicken Fingers<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Under 21'
    else:
        return meal

In [29]:
from jinja2 import Environment, FileSystemLoader
import os
THIS_DIR = os.path.dirname(os.path.abspath("template.html"))

j2_env = Environment(loader=FileSystemLoader(THIS_DIR),
                         trim_blocks=True)

In [30]:
template = j2_env.get_template('template.html')

In [31]:
pages = []
cur_page = []
for idx, row in df.iterrows():
    
    if idx % 4 == 0 and idx != 0:
        pages.append(cur_page)
        cur_page = []
    
    if row['Table'] == 'Sweetheart':
        table='Sweetheart<br/>Table'
    elif row['Table'] == 'Vendor':
        table='Vendor Table'
    else:
        table='Table ' + str(row['Table'])
    
    try:
        meal = get_meal(row)
    except:
        print(row)
    
    cur_page.append([' '.join([row['First Name'], '<br/>', row['Last Name']]),table, meal])
    
    
    if idx == len(df) - 1:
        pages.append(cur_page)

In [32]:
pages

[[['Aneela <br/> Ahmed', 'Table 6', 'Beef'],
  ['Jody <br/> Bailey', 'Table 2', 'Beef'],
  ['Budd <br/> Bailey', 'Table 2', 'Beef'],
  ['Omar <br/> Bari', 'Table 6', 'Beef']],
 [['HM <br/> Bateman', 'Table 2', 'Chicken'],
  ['Olivia <br/> Bobrowsky', 'Table 5', 'Beef'],
  ['Maryann <br/> Bochenek', 'Table 4', 'Beef'],
  ['Camille <br/> Brandon', 'Table 13', 'Chicken']],
 [['Robert <br/> Brandon', 'Table 13', 'Beef'],
  ['Peter <br/> Brunner', 'Table 16', 'Chicken'],
  ['Carol <br/> Bubar', 'Table 1', 'Beef'],
  ['David <br/> Bubar', 'Table 1', 'Chicken']],
 [['Elizabeth <br/> Buckley', 'Table 2', 'Beef'],
  ['Martin <br/> Burke', 'Table 8', 'Beef'],
  ['Timothy <br/> Cashmore', 'Table 2', 'Beef'],
  ['Patricia <br/> Catanzaro', 'Table 10', 'Chicken']],
 [['Joseph <br/> Catanzaro', 'Table 10', 'Beef'],
  ['Joey <br/> Catanzaro', 'Table 10', 'Beef'],
  ['Judith <br/> Chaifetz', 'Table 9', 'Beef'],
  ['Malcolm <br/> Chaifetz', 'Table 9', 'Beef']],
 [['Phoebe Li <br/> Chen', 'Table 12', 'Beef'],
  ['Alex <br/> Constandache', 'Table 6', 'Beef'],
  ['Kevin <br/> Corbett', 'Table 15', 'Beef'],
  ['Hannah <br/> Crean', 'Table 14', 'Beef']],
 [['Kathleen <br/> Darcy', 'Table 2', 'Chicken'],
  ['Kimberly <br/> Derbesy', 'Table 7', 'Vegetarian'],
  ['Thomas <br/> Derbesy', 'Table 7', 'Chicken'],
  ['Erik <br/> Dickerson', 'Table 11', 'Beef']],
 [['Tsana <br/> Dimanin', 'Table 6', 'Vegetarian'],
  ['Carol <br/> DiPrinzio', 'Table 8', 'Vegetarian'],
  ['Paul <br/> Edwards', 'Table 7', 'Beef'],
  ['Sarah <br/> El', 'Table 3', 'Chicken']],
 [['Erin <br/> Faunce', 'Table 4', 'Beef'],
  ['Michael <br/> Feigin', 'Table 11', 'Beef'],
  ['Emma <br/> Feigin',
   'Table 11',
   'Chicken Fingers<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Under 21'],
  ['Nancy <br/> Feigin', 'Table 15', 'Beef']],
 [['William <br/> Feigin', 'Table 15', 'Beef'],
  ['Casey <br/> Fenwick', 'Table 6', 'Chicken'],
  ['Lynn <br/> Ferraro', 'Table 13', 'Vegetarian'],
  ['Vincent <br/> Ferraro', 'Table 13', 'Chicken']],
 [['Nikola <br/> Finneran', 'Table 6', 'Beef'],
  ['Jordan <br/> Fischer', 'Table 8', 'Beef'],
  ['Carol <br/> Franczyk', 'Table 4', 'Vegetarian'],
  ['Elizabeth <br/> Gale-Bentz', 'Table 8', 'Beef']],
 [['Christine <br/> Gallagher', 'Table 13', 'Beef'],
  ['Raymond <br/> Gallagher', 'Table 13', 'Beef'],
  ['Jamie <br/> Gallagher', 'Table 13', 'Beef'],
  ['Timothy <br/> Gallagher', 'Table 13', 'Beef']],
 [['Mary <br/> Galletta', 'Table 1', 'Chicken'],
  ['Joseph <br/> Galletta', 'Table 1', 'Beef'],
  ['Meghann <br/> Galloway', 'Table 8', 'Beef'],
  ['Corey <br/> Galloway', 'Table 8', 'Beef']],
 [['Barbara <br/> Ganis', 'Table 2', 'Beef'],
  ['Dipankar <br/> Gogoi', 'Table 6', 'Beef'],
  ['Mary Jo <br/> Gorski', 'Table 13', 'Beef'],
  ['Dennis <br/> Gorski', 'Table 13', 'Chicken']],
 [['Kelli <br/> Greenberg', 'Table 5', 'Beef'],
  ['Kylitha <br/> Griffin', 'Table 11', 'Chicken'],
  ['Della <br/> Harris', 'Table 4', 'Vegetarian'],
  ['Kim <br/> Hild', 'Table 15', 'Beef']],
 [['Raymond <br/> Hild', 'Table 15', 'Beef'],
  ['Yigal <br/> Hochberg', 'Table 3', 'Chicken'],
  ['Daniel <br/> Hochberg', 'Table 3', 'Chicken'],
  ['Heidi <br/> Hockberger', 'Table 5', 'Vegetarian']],
 [['Barbara <br/> Howe', 'Table 16', 'Vegetarian'],
  ['Vanessa <br/> Huerta Granda', 'Table 5', 'Beef'],
  ['Kathy <br/> Kane', 'Table 16', 'Chicken'],
  ['Daniel <br/> Kane', 'Table 16', 'Beef']],
 [['Natan <br/> Katz', 'Table 3', 'Beef'],
  ['Katie <br/> Kennedy', 'Table 17', 'Beef'],
  ['Timothy <br/> Kennedy', 'Table 17', 'Beef'],
  ['Jason <br/> Koski', 'Table 12', 'Beef']],
 [['David <br/> Kralle', 'Table 7', 'Beef'],
  ['Meredith <br/> Krapek', 'Table 5', 'Vegetarian'],
  ['Marguerite <br/> Laks', 'Table 10', 'Beef'],
  ['Kelly <br/> Lauersen', 'Table 7', 'Beef']],
 [['Mei Yan <br/> Lee', 'Table 12', 'Beef'],
  ['Natalie <br/> LeVan', 'Table 1', 'Beef'],
  ['Mark <br/> LeVan', 'Table 1', 'Beef'],
  ['Barbara <br/> Levy', 'Table 9', 'Beef']],
 [['Stuart <br/> Levy', 'Table 9', 'Vegetarian'],
  ['Stephanie <br/> Loranty', 'Table 4', 'Vegetarian'],
  ['Ronald <br/> Loranty', 'Table 4', 'Beef'],
  ['Debbie <br/> Lorigo', 'Table 17', 'Chicken']],
 [['Ralph <br/> Lorigo', 'Table 17', 'Beef'],
  ['Ryan <br/> Ludwig', 'Table 11', 'Beef'],
  ['Sue Luzi- <br/> Montazzoli', 'Table 4', 'Chicken'],
  ['Colleen <br/> Makowski', 'Table 16', 'Chicken']],
 [['Joseph <br/> Makowski', 'Table 16', 'Beef'],
  ['Omri <br/> Mandel', 'Table 3', 'Beef'],
  ['Neera <br/> Manning', 'Table 17', 'Vegetarian'],
  ['Kenneth <br/> Manning', 'Table 17', 'Chicken']],
 [['Gal <br/> Manoach', 'Table 3', 'Beef'],
  ['Jeff <br/> McDaniel', 'Table 12', 'Chicken'],
  ['Maureen <br/> McKeone', 'Table 2', 'Vegetarian'],
  ['John <br/> McKeone', 'Table 2', 'Beef']],
 [['Camilla <br/> McKlevis', 'Table 4', 'Beef'],
  ['Ian <br/> McMahon', 'Table 12', 'Vegetarian'],
  ['Janet <br/> Meiselman', 'Table 2', 'Vegetarian'],
  ['Deborah <br/> Merrifield', 'Table 2', 'Chicken']],
 [['Renee <br/> Metro', 'Table 4', 'Vegetarian'],
  ['Adam <br/> Murphy', 'Table 7', 'Chicken'],
  ['Melissa <br/> Myint', 'Table 12', 'Chicken'],
  ['Amanda <br/> NeMoyer', 'Sweetheart<br/>Table', 'Chicken']],
 [['Caitlin <br/> NeMoyer', 'Table 11', 'Vegetarian'],
  ['Erin <br/> NeMoyer', 'Table 11', 'Beef'],
  ['Rachel <br/> NeMoyer', 'Table 11', 'Beef'],
  ['Elyse <br/> NeMoyer', 'Table 9', 'Beef']],
 [['Patrick <br/> NeMoyer', 'Table 9', 'Beef'],
  ['Josephine <br/> NeMoyer', 'Table 10', 'Vegetarian'],
  ['Daniel <br/> NeMoyer', 'Table 10', 'Beef'],
  ['Thomas <br/> NeMoyer', 'Table 14', 'Beef']],
 [['Judith <br/> NeMoyer', 'Table 10', 'Vegetarian'],
  ['Matthew <br/> NeMoyer', 'Table 14', 'Chicken'],
  ['Peter <br/> NeMoyer', 'Table 14', 'Beef'],
  ['Amy <br/> NeMoyer', 'Table 10', 'Chicken']],
 [['Michael <br/> NeMoyer', 'Table 10', 'Beef'],
  ["Marina <br/> O'Donnell", 'Table 15', 'Beef'],
  ["Jack <br/> O'Donnell", 'Table 15', 'Beef'],
  ["Denise <br/> O'Donnell", 'Table 15', 'Beef']],
 [["John <br/> O'Donnell", 'Table 15', 'Beef'],
  ["Maura <br/> O'Donnell", 'Table 15', 'Beef'],
  ['Taky <br/> Ono', 'Table 5', 'Beef'],
  ['Rachel <br/> Ono', 'Table 5', 'Vegetarian']],
 [['Maureen <br/> Pace', 'Table 16', 'Chicken'],
  ['Edward <br/> Pace', 'Table 16', 'Beef'],
  ['G. Steven <br/> Pigeon', 'Table 13', 'Beef'],
  ['Helene <br/> Raichilson', 'Table 4', 'Beef']],
 [['Kiely <br/> Rassow', 'Table 14', 'Beef'],
  ['Erich <br/> Rassow', 'Table 14', 'Beef'],
  ['Mylene <br/> Ratelle', 'Table 12', 'Vegetarian'],
  ['David <br/> Reed', 'Table 6', 'Chicken']],
 [['Susan <br/> Robinson', 'Table 4', 'Chicken'],
  ['April <br/> Rockwood', 'Table 1', 'Chicken'],
  ['Robert <br/> Rockwood', 'Table 1', 'Chicken'],
  ['Aleta <br/> Rogers', 'Table 7', 'Beef']],
 [['Kristin <br/> Rose', 'Table 8', 'Beef'],
  ['Raymond <br/> Rose', 'Table 8', 'Beef'],
  ['Noam <br/> Roth', 'Table 3', 'Chicken'],
  ['Holly <br/> Sansom', 'Table 6', 'Vegetarian']],
 [['Paul <br/> Schrodt', 'Table 5', 'Chicken'],
  ['Charles (Jake) <br/> Scheckler', 'Table 7', 'Beef'],
  ['Nancy <br/> Schwendler', 'Table 13', 'Beef'],
  ['Amit <br/> Shavit', 'Sweetheart<br/>Table', 'Beef']],
 [['Orit <br/> Shavit', 'Table 9', 'Vegetarian'],
  ['Noam <br/> Shavit', 'Table 9', 'Beef'],
  ['Moshe <br/> Shavit', 'Table 9', 'Beef'],
  ['Whitley <br/> Silva', 'Table 12', 'Beef']],
 [['Cory <br/> Silva', 'Table 12', 'Beef'],
  ['Stephanie <br/> Singer', 'Table 8', 'Chicken'],
  ['Anisha <br/> Sinha', 'Table 7', 'Vegetarian'],
  ['Adela <br/> Szanto', 'Table 9', 'Beef']],
 [['Siobhan <br/> Toolan', 'Table 14', 'Beef'],
  ['Colin <br/> Toolan', 'Table 14', 'Beef'],
  ['Richard <br/> Tourdot', 'Table 12', 'Beef'],
  ['Shirley <br/> Troutman', 'Table 17', 'Beef']],
 [['Kenneth J. <br/> Turner', 'Table 17', 'Beef'],
  ['Liana <br/> Vaccari', 'Table 12', 'Beef'],
  ['Kristin <br/> Vilt', 'Table 5', 'Chicken'],
  ['Mary Lou <br/> Voytovich', 'Table 16', 'Beef']],
 [['Paul <br/> Voytovich', 'Table 16', 'Beef'],
  ['Catherine <br/> Voytovich', 'Table 11', 'Chicken'],
  ['Mark <br/> Walker', 'Table 12', 'Beef'],
  ['Haley <br/> Welch', 'Table 7', 'Chicken']],
 [['Nora <br/> Whalen', 'Table 17', 'Beef'],
  ['Gerald <br/> Whalen', 'Table 17', 'Beef'],
  ['Jennifer <br/> Wieroney', 'Table 7', 'Vegetarian'],
  ['Stephen <br/> Wieroney', 'Table 7', 'Beef']],
 [['Elaine <br/> Williams', 'Table 5', 'Beef'],
  ['Terria <br/> Witherspoon', 'Table 1', 'Beef'],
  ['Samuel <br/> Witherspoon', 'Table 1', 'Chicken'],
  ['Tom <br/> Zaiderman', 'Table 3', 'Chicken']],
 [['Shalom <br/> Zilber', 'Table 3', 'Vegetarian'],
  ['James <br/> Lecksell', 'Vendor Table', 'Beef'],
  ['Nadine <br/> Saviano', 'Vendor Table', 'Special Meal'],
  ['Simon <br/> Pratt', 'Vendor Table', 'Beef']],
 [['Jill <br/> Barille', 'Vendor Table', 'Vegetarian'],
  ['Lenny <br/> Potwora', 'Vendor Table', 'Beef']]]

In [33]:
%%time
def get_fields(page):
    name_1, table_1, name_2, table_2, name_3, table_3, name_4, table_4, meal_1, meal_2, meal_3, meal_4 = '', '', '', '', '', '', '', '', '', '', '', ''
    
    try:
        name_1, table_1, meal_1 = page[0][0], page[0][1], page[0][2]
    except:
        pass
    
    try:
        name_2, table_2, meal_2 = page[1][0], page[1][1], page[1][2]
    except: 
        pass
    
    try:
        name_3, table_3, meal_3 = page[2][0], page[2][1], page[2][2]
    except:
        pass
    
    try:
        name_4, table_4, meal_4 = page[3][0], page[3][1], page[3][2]
    except:
        pass
    
    return (name_1, table_1, meal_1, 
            name_2, table_2, meal_2,
            name_3, table_3, meal_3,
            name_4, table_4, meal_4)
    
for idx, page in enumerate(pages):
    (name_1, table_1, meal_1, 
            name_2, table_2, meal_2,
            name_3, table_3, meal_3,
            name_4, table_4, meal_4) = get_fields(page)
    
    html = template.render(
       name_1=name_1, 
        table_1=table_1, 
        name_2=name_2, 
        table_2=table_2, 
        name_3=name_3, 
        table_3=table_3, 
        name_4=name_4, 
        table_4=table_4,
        meal_1=meal_1,
        meal_2=meal_2,
        meal_3=meal_3,
        meal_4=meal_4
    )
    
    with open('./test-{:02d}.html'.format(idx),'w') as otp:
        otp.writelines(html)
    
    print('Creating PDF... {} of {}'.format(idx+1, len(pages)))
    os.system('electron-pdf test-{:02d}.html test-{:02d}.pdf'.format(idx,idx))
    
#     if idx > 2: break
    
os.system('gs -q -dNOPAUSE -dBATCH -sDEVICE=pdfwrite -sOutputFile=merged.pdf test-*.pdf')
os.system('mv test-* unused/')

Creating PDF... 1 of 45
Creating PDF... 2 of 45
Creating PDF... 3 of 45
Creating PDF... 4 of 45
Creating PDF... 5 of 45
Creating PDF... 6 of 45
Creating PDF... 7 of 45
Creating PDF... 8 of 45
Creating PDF... 9 of 45
Creating PDF... 10 of 45
Creating PDF... 11 of 45
Creating PDF... 12 of 45
Creating PDF... 13 of 45
Creating PDF... 14 of 45
Creating PDF... 15 of 45
Creating PDF... 16 of 45
Creating PDF... 17 of 45
Creating PDF... 18 of 45
Creating PDF... 19 of 45
Creating PDF... 20 of 45
Creating PDF... 21 of 45
Creating PDF... 22 of 45
Creating PDF... 23 of 45
Creating PDF... 24 of 45
Creating PDF... 25 of 45
Creating PDF... 26 of 45
Creating PDF... 27 of 45
Creating PDF... 28 of 45
Creating PDF... 29 of 45
Creating PDF... 30 of 45
Creating PDF... 31 of 45
Creating PDF... 32 of 45
Creating PDF... 33 of 45
Creating PDF... 34 of 45
Creating PDF... 35 of 45
Creating PDF... 36 of 45
Creating PDF... 37 of 45
Creating PDF... 38 of 45
Creating PDF... 39 of 45
Creating PDF... 40 of 45
Creating PDF... 41 of 45
Creating PDF... 42 of 45
Creating PDF... 43 of 45
Creating PDF... 44 of 45
Creating PDF... 45 of 45
CPU times: user 87.4 ms, sys: 39 ms, total: 126 ms
Wall time: 1min 12s

In [22]:
# template.render(name_1="Amit Shavit", name_2="Amanda NeMoyer", table_1=5, table_2=10)

In [23]:
with open('./amit_test.html'.format(idx),'w') as otp:
    mystr = template.render(name_1='Amit Shavit', table_1='Sweetheart<br/>Table', meal_1='Chicken Fingers<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Under 21')
    otp.writelines(mystr)